<div fxLayout="row " style="padding:15px;" class="shadow-box cart-container-item" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true"><img [src]="cart.imageUrl" style="height: 100%;object-fit: cover;margin-right: 10px;border-radius: 15px;width:100px;">
  <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true">
    <h3>
      {{cart.productName}}
    </h3>
    <p style="line-height: 1.5;    font-size: 10px;     font-weight: 400;">
      {{cart.description}}
    </p><span style="color:var(--main-color);font-size:17px;font-weight:700px;">
                &#x20B9;{{cart.rate}}</span>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="none none" [fxShow]="true">
    <div fxLayout="row " class="product-count-container" fxLayoutAlign="center center" [fxShow]="true"><button mat-button (click)="changeCartCount(&apos;-&apos;,cart.productId)"><svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.808594 1H10.705" stroke="#979491" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
        </svg></button>
      <div>
        {{cart.count}}
      </div><button mat-button (click)="changeCartCount(&apos;+&apos;,cart.productId)"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.2802 1V11" stroke="#979491" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M1.33203 6.00003H11.2284" stroke="#979491" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
        </svg></button>
    </div>
  </div>
</div>