<div fxLayout="row " style="padding:10px;" class="product-container" fxFlex="100" fxLayoutAlign="none center" [fxShow]="true"><img [src]="product.imageUrl" style="    height: 100%;object-fit: contain;     margin-right: 10px;border-radius: 10px;">
  <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true">
    <h3>
      {{product.productName}}
    </h3>
    <p style="line-height: 1.5;    font-size: 10px;     font-weight: 400;">
      {{product.description}}
    </p>
    <div fxLayout="row wrap" style="margin-top:5px;" fxLayoutAlign="space-between stretch" [fxShow]="true"><span style="color:var(--main-color);font-size:24px;font-weight:700px;">
                &#x20B9;{{product.rate}}</span><button mat-button class="product-add-button" (click)="addToCart()">+ Add </button></div>
  </div><button mat-button class="close-button" (click)="removeProduct(product.productId)"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.73105 1.7838L10.2689 10.2162M1.78375 10.2689L10.2162 1.7311" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg></button>
</div>