<div class="profile-container">
  <span class="profile-text">
                Profile</span>
  <section class="profile-section">
    <div class="image-container">
    </div><span class="profile-text">
                Satya Raju<span class="city">
                Banglore</span></span>
  </section>
</div>
<div fxLayout="row wrap" class="profile-options" fxLayoutAlign="space-evenly stretch" [fxShow]="true"><img imgSrc="/Web/Icons/details.svg"><span>
                Personal details</span></div>
<div fxLayout="row wrap" class="profile-options" fxLayoutAlign="space-evenly stretch" [fxShow]="true"><mat-icon class="profile-icons">home</mat-icon><span>
                Personal details</span></div>
<div fxLayout="row wrap" class="profile-options" fxLayoutAlign="space-evenly stretch" [fxShow]="true"><mat-icon class="profile-icons">home</mat-icon><span>
                Personal details</span></div>
<div fxLayout="row wrap" class="profile-options" fxLayoutAlign="space-evenly stretch" [fxShow]="true"><mat-icon class="profile-icons">home</mat-icon><span>
                Personal details</span></div>
<div fxLayout="row wrap" class="profile-options" fxLayoutAlign="space-evenly stretch" [fxShow]="true"><mat-icon class="profile-icons">home</mat-icon><span>
                Personal details</span></div>